*{margin: 0;
padding: 0;

}
body{
    background: rgba(30, 6, 71, 0.938);
  overflow: hidden;
  
}
nav{
display: flex;align-items: center;
background-color: rgba(57, 5, 105, 0.687);

}
nav img{
    width: 7vw;height: 12vh;
    margin: 1vh 0 0 2vw;
    border-radius: 3vw;
   
  
}
nav .features{position: absolute;right: 5vw;}
nav .features img{
    width: 3vw;height: 5vh;
    cursor: pointer;
  
}

.content{
overflow-y: scroll;
height: 70vh;

}

.message{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 2vw;
    
   
  
}

.content  .othermsgs{
    background-color:  rgba(209, 50, 85, 0.647);
    max-width:10%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vw;
    font-size: 1.5vw;
    border-radius: 1vw;
 /* display: inline; */
    float: right;
    /* clear:left; */
    clear: both;
    /* flex-direction: column; */
    padding: 2vw;
    overflow-wrap:break-word ;
    word-wrap: break-word;
  
}
.content  .mymsgs{
    background-color: rgba(132, 8, 241, 0.647);
    max-width:10%;
    font-size: 1.5vw;
   float: left;
    clear:both;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vw;
    border-radius: 1vw;
 
    padding: 2vw;
    overflow-wrap:break-word ;
    word-wrap: break-word;
  
}

.right{
    float: left;
   
   width:20vw ;
   height: auto;
   margin: 0 0vw 0 2vw;
    display: flex;
    
    flex-direction: column;
  
}


#joiningmsg{
    
background-color: aqua;
width: 20vw;
/* background-color: rgb(81, 255, 0); */
   margin:5vh 15vw 0 20vw;
   /* height: 200vh; */
    

}
 .info{
    padding: 1vw;
    
    background-color: rgb(28, 81, 226);
    color: white;
    clear: both;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.5vw;
    border-radius: 1vw;
    margin: 2vh auto 2vh auto ;
    max-width:15vw ;
     
}
.left{
    float: left;
    /* clear: both; */
    width:20vw ;
    display: flex;
   
    margin: 0 0vw 0 2vw;
  /* background-color: blueviolet; */
    flex-direction: column;
 
}
.message-sent-bar{
    display: flex;
    flex-direction: row;
  
    /* background-color: rgba(0, 0, 0, 0.39); */
    position: fixed;bottom: 0.5vh;
    align-items: center;
    justify-content: center;
  
 margin: 0 0 0 15vw;
 /* border-radius: 2vw; */
}
.message-sent-bar .emoji{display: flex;align-items: center;
    /* background-color: rgba(0, 0, 0, 0.258); */
    border-radius: 2vw;}
.message-sent-bar .emoji img{width: 1.5vw;height: 3vh;}
.message-sent-bar input{background-color: rgba(0, 0, 0, 0.258);border: 2px solid rgba(30, 6, 71, 0.938); width: 50vw;height: 4vh;
    outline: none;color: white;margin: 0 0.5vw 1vh 0.5vw}
.message-sent-bar button {
    width: 3vw;height: 6vh;
    background-color: rgba(0, 0, 0, 0.258);
    border-radius: 10vw;
    text-align: center;
    position: absolute;
    bottom: 0.5vh;
    left: 54vw;
    border: 2px solid rgba(30, 6, 71, 0.938);
    /* margin: 3vh 0 0 0.5vw; */
}
.message-sent-bar button #voice{
   transition: 0.3s;
    position: absolute;
    bottom: 0.5vh;
    right: 0.5vw;
    width: 2vw;
    height: 4vh;
   /* display: none; */
    /* margin: 3vh 0 0 0.5vw; */
}
.message-sent-bar button #sent{
    transition: 0.3s;
    position: absolute;
    bottom: 0.5vh;
    right: 0.3vw;
  display: none;
  width: 2vw;
  height: 4vh;
    /* margin: 3vh 0 0 0.5vw; */
}
#inputmsg{
    font-size: 1vw;
}
.message-sent-bar input:focus{border:2px solid rgba(0, 0, 0, 0.258) ;}


